.challengeBoxContainer {
    height: 100%;
    
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0,0,0,0.05);
    padding: 1.5rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    position: relative;
}

.challengeNotActive { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challengeNotActive strong {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.challengeNotActive p {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
}

.challengeNotActive p img { 
    margin-bottom: 1rem;
}

.challengeActive {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.challengeActive header {
    color: var(--blue);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 0 2rem 1.5rem;
    border-bottom: 1px solid var(--grayLine);
}

.challengeActive main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.challengeActive main strong {
    font-size: 2rem;
    font-weight: 600;
    color: var(--title);
    margin: 1.5rem 0 1rem;
}

.challengeActive main p {
    line-height: 1.5;
}

.challengeActive footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid var(--grayLine);
}

.challengeActive footer button {
    height: 3rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;

    font-size: 1rem;
    font-weight: 600;

    transition: all 0.2s;
}

.challengeActive footer button.challengeFailedButton {
    background: #f2dede;
    border-right: 1px solid var(--grayLine);
    color: var(--red);
}

.challengeActive footer button.challengeSucceededButton {
    background: #dbebdb;
    color: var(--green);
}

.challengeActive footer button.challengeFailedButton:hover {
    background: var(--red);
    color: #fff;
}
.challengeActive footer button.challengeSucceededButton:hover {
    background: var(--green);
    color: #fff;
}

@media (max-width: 1000px) {
    .challengeBoxContainer {
        padding: 2rem 1.5rem;
    }

    .challengeActive header {
        padding: 0 1rem 0.5rem;
    }

    .challengeNotActive p {
        margin-top: 1.5rem;
    }

    .challengeNotActive p img {
        width: 3rem;
    }

    .challengeActive main {
        margin: 2rem 0;
    }

    .challengeActive main img {
        width: 7rem;
    }
}