.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 7rem;
    background: var(--white);
    position: fixed;
    height: 100vh;
}

.container header {
    padding: 2rem 0 0;
    color: var(--blue);
    width: 100%;
    text-align: center;
}

.container main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
}

.container main a {
    padding: 0.75rem;
    color: var(--text);
    width: 100%;
    opacity: 0.5;
    position: relative;
    text-align: center;
}

.container main a.linkActive {
    color: var(--blue);
    opacity: 1;
}

.linkActive::after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    border-right: 4px solid var(--blue);
    border-radius: 0 5px 5px 0;
    height: 100%;
}

.container footer {    
    padding-bottom: 2rem;
}
.container footer > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container footer > div svg {
    width: 1.8rem;
    height: 1.8rem;
    color: var(--gray);
    margin-bottom: 0.3rem;
}

.container footer a {
    color: var(--text);
    opacity: 0.5;
    transition: color 0.2s;
}

.container footer a svg {
    margin-top: 1.5rem;
    width: 2rem;
    height: 2rem;
}

.container footer a:hover {
    cursor: pointer;
    color: var(--blue);
}

.container header svg, .container main a svg, .container footer a svg {
    width: 2.5rem;
    height: 2.5rem;
}

.themeSwitcher {
    margin-top: 0.25rem;
}

@media (max-width: 1000px) {
    .container {
        width: 4rem;
        position: fixed;        
    }

    .container header {
        padding-top: 1rem;
    }

    .container footer {
        padding-bottom: 1rem;
    }

    .container header svg, .container main a svg, .container footer a svg {
        width: 2rem;
        height: 2rem;
    }
}